body {
    text-align: center;
}

/* Make media responsive. */
img, video {
    height: auto;
    max-width: 100%;
}

.letter {
    border-radius: 50%;
    font-size: 1.75em;
    margin: 0.1em;
    width: 1.5em;
}

#blob {
    display: block;
    margin: auto;
    position: center;
}

#github {
    float: right;
    width: 1.5em;
}

#letters {
    display: none;
}

#size {
    display: block;
    margin: auto;
    position: center;
}