@keyframes expand {
    from {
        transform: scale(0);
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes spinX {
    from {
        transform: rotateX(180deg);
    }
}

@keyframes spinY {
    from {
        transform: rotateY(180deg);
    }
}

body {
    background-color: darkolivegreen;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
}

/* Make media responsive. */
img, video {
    height: auto;
    max-width: 100%;
}

input {
    background-color: limegreen;
}

input[type=range] {
    transform: scale(1.66);
}

.letter {
    animation-duration: 0.6s;
    animation-name: spinY;
    border-color: mediumseagreen;
    border-radius: 50%;
    font-size: 1.75em;
    margin: 0.1em;
    width: 1.5em;
}

#blob {
    animation-duration: 0.6s;
    animation-name: expand;
    display: block;
    margin: auto;
    position: center;
}

#github {
    animation-duration: 0.6s;
    animation-name: fade-in;
    float: right;
    width: 1.5em;
}

#letters {
    display: none;
}

#size {
    animation-duration: 0.6s;
    animation-name: spinX;
    display: block;
    margin: auto;
    position: center;
}

#text {
    animation-duration: 0.6s;
    animation-name: fade-in;
}